body{font-family:Verdana, Geneva, Tahoma, sans-serif;background-color:#F7E8FF;margin:0;width:100%}p{margin:0;padding:0}#nav{background-color:#FFEBE8;height:50px}#nav *{display:inline}#nav ul{margin:0;padding:0}#nav li{margin-left:100px;height:30px;width:20px}#nav li a{color:black;text-decoration:none}#nav li a:hover{color:#EFFFE8}

